<div class="homebar fixed top-0 left-0 w-full h-[var(--homebar-height)] z-[900] bg-he-darkblue flex items-center">

  <a class="flex min-w-fit items-center mx-8" routerLink="/">
    <img class="h-16" src="images/heonline_logo-white-red.svg" alt="Logo der Hochschule Esslingen">
    <img class="h-11" src="favicon.png" alt="Logo des InventarisierungsSystems">
  </a>

  <div class="-m-4 xl:hidden flex flex-row items-center align-baseline">
    <button mat-icon-button class="!mb-1" [matMenuTriggerFor]="menu">
      <mat-icon class="!text-he-grey">menu</mat-icon>
    </button>

    <a class="ml-2 h-fit text-he-grey text-lg"
      [routerLink]="activeMenuItem() === -1 ? '' : links[activeMenuItem()].path">
      {{ activeMenuItem() === -1 ? '' : links[activeMenuItem()].name }}
    </a>
  </div>

  <mat-menu #menu="matMenu">
    @for (link of links; track $index) {
    <a mat-menu-item [routerLink]="link.path" (click)="activeMenuItem.set($index); isMobileMenuOpen.set(false)">
      {{ link.name }}
    </a>
    }
  </mat-menu>

  <nav class="hidden xl:flex gap-4">
    @for (link of links; track $index) {
    <app-navbar-button label="{{ link.name }}" routerLink="{{ link.path }}"
      [isExact]="link.path === '/'"></app-navbar-button>
    }
  </nav>

  <app-login class="mr-8 ml-auto"></app-login>
</div>
