APP_URL=YOUR_URL
PORT=8080
APP_NAME=insy-backend
SPRING_PROFILE=<dev|test|production>
ALLOWED_ORIGIN=ALLOWED_CROSS_ORIGIN_URL

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=insy
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=insy

# Keycloak
ISSUER_URI=YOUR_KEYCLOAK_REALM
INSY_REQUIRED_ROLE=inventory-manager

# BeSy integration
KEYCLOAK_BESY_CLIENT_ID=besy-for-insy-client


# pgAdmin (for development purposes)
PGA_EMAIL=YOUR_PGADMIN_EMAIL
PGA_PASSWORD=YOUR_PGADMIN_PASSWORD
