.open {
    translate: 0rem 0;
    transition: all 0.3s ease;
}

.closed {
    translate: -28rem 0;
    transition: all 0.3s ease;
}

.expanded {
    margin-left: -25rem;
    width: 100%;
    transition: all 0.3s ease;
}

.collapsed {
    margin-left: 1rem;
    width: calc(100% - 26rem);
    transition: all 0.3s ease;
}

/* Mobile: slide from top instead of left */
@media (max-width: 1023px) {
    .open {
        translate: 0 0;
    }

    .closed {
        translate: 0 -36rem;
    }

    .expanded {
        margin-left: 0;
        margin-top: -34rem;
        width: 100%;
    }

    .collapsed {
        margin-left: 0;
        margin-top: 1rem;
        width: 100%;
    }
}

.scroll-shadow {
    box-shadow:
        inset 0px 32px 24px -32px oklch(96.7% 0.003 264.542),
        inset 0px -32px 24px -32px oklch(96.7% 0.003 264.542);
    z-index: 1000;
}
